.vikijs-node text {
	cursor: pointer;
}

.vikijs-icon {
	cursor: pointer;
}

.vikijs-graph-container {
	float: left;
	border: 1px solid blue;
	overflow: hidden;
}

.vikijs-detail-panel {
	background-color: white;
	display: block;
	float: left;
	clear: right;
	left:7px;
	top:5px;
	z-index:1;
	border:1px solid blue;
	padding-left:10px;
}

.vikijs-errors-panel {
	border:1px solid red;
	border-radius: 8px;
	padding-left: 10px;
	padding-right: 10px;
	visibility: hidden;
	font-size: 1.0em;
	overflow-y: scroll;
	max-height: 7em;
}

.vikijs-zoom-slider {
float:right;
/*
 * adjust the slider up 23px
 * for some reason the slider was automatically positioned
 * at the bottom of the container. This will adjust accordingly.
 */
top:-18px;
margin-right:10px;
}

.contextMenu {
	display: none;
}

#categoryContainer {
	font-size: .85em;
}

body.vex-open {
	overflow: auto !important;
}

#progressbarDiv .ui-progressbar-value.ui-widget-header {
	background: blue;
	height: 106% !important;
}
