.vikijs-node text {
	cursor: pointer;
}

.vikijs-icon {
	cursor: pointer;
}

h4 vikijs-header{
	color: #23A4FF;
	font-size: 15px;
	margin-bottom: 0.5em;
	display: inline-block;
	height:25px;
}

.vikijs-graph-container {
	float: left;
	top:55px;
	padding:5px 5px 5px 5px;
	border: 1px solid blue;
	border-radius: 7px;
	overflow: hidden;
}

.vikijs-detail-panel {
	background-color: white;
	display: block;
	float: left;
	clear: right;
	left:7px;
	top:5px;
	z-index:1;
	border:1px solid blue;
	border-radius: 8px;
	padding-left:10px;
	padding-right:10px;
}

.vikijs-errors-panel {
	border:1px solid red;
	border-radius: 8px;
	padding-left: 10px;
	padding-right: 10px;
	visibility: hidden;
	font-size: 1.0em;
	overflow-y: scroll;
	max-height: 7em;
}

.vikijs-zoom-slider{
float:right;
/*
 * adjust the slider up 23px
 * for some reason the slider was automatically positioned
 * at the bottom of the container. This will adjust accordingly.
 */
top:-18px;
}

.contextMenu {
	display: none;
}

#categoryContainer {
	font-size: .85em;
}
